---
import Layout from "../layouts/Page.astro";

import { getCommunities } from "../data/communities";
import CommunityCard from "../components/CommunityCard";

const communities = await getCommunities();
---
<Layout
    title="Communities"
    subtitle="Student tech organizations affiliated by DICE">
    <div class="content-wrapper py-12">
        <div class="flex flex-wrap items-stretch">
            {communities.map(c => (
                <div class="w-1/3 pt-16 pb-2 px-2">
                    <CommunityCard data={c} className="h-full" />
                </div>
            ))}
        </div>
    </div>
</Layout>
