---
import { getMeta } from "../data/meta";
import Layout from "../layouts/Page.astro";

const meta = await getMeta();
---

<Layout title="Privacy Notice" subtitle="">
    <div
        class="prose mx-auto py-16"
    >
        <p>
            <strong>{meta.fullName}</strong> or known as <strong
                >{meta.shortName}</strong
            > is committed to protecting and respecting your privacy by collecting
            and processing the information we will collect from you (e.g. personal
            information, sensitive personal information) in accordance with applicable
            data privacy laws and regulations, including the Philippine Data Privacy
            Act of 2012 and its Implementing Rules and Regulations.
        </p>
        <p>
            DICE reserves the right to revise, alter, or amend this Privacy
            Statement to reflect new or recently promulgated legal requirements
            or company rules/practices on data handling. Any such changes will
            be posted on DICE’s website and will be effective upon posting. This
            Privacy Statement is effective as of 20 January 2024.
        </p>
        <p>
            Below are the personal information that DICE may collect from you:<br
            />
            <ol type="a">
                <li>
                    Information that will allow us to contact you, such as your
                    name, address, email address, and telephone and mobile
                    numbers;
                </li>
                <li>
                    Information that will allow us to verify your identity, such
                    as government-issued identification number and details, e.g.
                    social security numbers, tax identification numbers, and
                    passport details; and
                </li>
                <li>
                    Other personal information that will be necessary to assist
                    us in providing our services to you
                </li>
            </ol>
        </p>
        <p>
            Your personal information may be gathered when you contact us;
            engage our services; when you browse, use or contact us through our
            website and other online or social media platform; or when you
            provide said personal information via other means or circumstances.
        </p>
        <p>
            The personal information collected and manually/electronically
            typed, inputted, recorded, used, stored or processed, if applicable,
            are exclusively done for to carry-out, render, and provide the
            required and necessary services to our clients and/or partners; to
            manage our business relationship with our client and/or partners and
            other organizations with which DICE does business such as the
            processing of invoices, payments, billing, collection, accounting,
            auditing, and other support services; to secure and manage access to
            DICE offices, systems, and online platforms; to comply with legal
            and regulatory requirements; for any other purpose related to the
            foregoing; or for the purpose/s for which you provided your personal
            information.
        </p>
        <p>
            Your personal information may be disclosed to or shared with DICE’s
            selected partners, affiliates strictly on a need-to-know basis
            vis-a-vis the purposes for which said information and access are
            given and with the objective to deliver efficient and effective
            services. We do not share personal information with any other third
            party, unless necessary to the services we provide or when you give
            consent to the transfer or sharing of your personal information.
            Inthe case of the same, the transfer of your personal information
            will be done in accordance with applicable Privacy Laws. In such an
            eventuality, you will be notified of such transfer/sharing and DICE
            will take appropriate safeguards to ensure the protection and
            integrity of said personal information.
        </p>
        <p>
            Your personal information will be deleted if it is no longer
            reasonably required for the purposes cited above or when you
            withdraw your consent (if applicable), provided that we are not
            legally required to maintain custody of the same.
        </p>
        <p>
            As such, we may continue to retain and assert legal claims to
            maintain your personal information/data for such an additional
            period or time necessary in compliance with and in accordance with
            government regulations on the retention of
            information/documentation.
        </p>
        <p>
            We ensure that appropriate and necessary physical, administrative,
            technical and organizational safety measures and safety nets are in
            place to secure, to ward-off and protect against any unauthorized
            access, use, disclosure or unlawful processing of your personal
            information/data, including against damage, accidental loss,
            destruction of the same.
        </p>
        <p>
            Access to your personal information/data is limited to the
            personnel, staff, representatives assigned to handle your concerns,
            your account or to provide the required services in furtherance of
            the performance of their functions.
        </p>
        <p>
            Data subjects such as the Clients have the following rights over
            said personal information:
        </p>
        <ol>
            <li>
                The right to be informed if your personal data shall be, are
                being, or have been processed, including whether automated
                decision-making and profiling will be involved in the
                processing.
            </li>
            <li>
                The right to object to the processing of your personal data,
                including processing for direct marketing, automated processing,
                or profiling.
            </li>
            <li>
                The right to reasonable access to the following, upon demand:<br
                />
                <ol type="i">
                    <li>contents of your personal data that was processed;</li>
                    <li>sources from which personal data was obtained;</li>
                    <li>
                        names and addresses of recipients of the personal data;
                    </li>
                    <li>the manner by which such data was processed;</li>
                    <li>
                        reasons for the disclosure of the personal data to
                        recipients, if any;
                    </li>
                    <li>
                        information on automated processes where your personal
                        data will, or is likely to, be made as to the sole basis
                        for any decision that significantly affects or will
                        affect you;
                    </li>
                    <li>
                        date when your personal data was last accessed and
                        modified; and
                    </li>
                    <li>
                        the designation, name or identity, and address of the
                        personal information controller.
                    </li>
                </ol>
            </li>
            <li>
                Right to Rectification — You have the right to dispute the
                inaccuracy or error in your personal data unless the request is
                vexatious or otherwise unreasonable.
            </li>
            <li>
                Right to Erasure or Blocking — You have the right to suspend,
                withdraw or order the blocking, removal, or destruction of your
                personal information from our filing system, under the
                circumstances allowed under Data Privacy Laws.
            </li>
            <li>
                Right to Damages — You have the right to be indemnified for any
                damages sustained due to such inaccurate, incomplete, outdated,
                false, unlawfully obtained, or unauthorized use of your personal
                data.
            </li>
            <li>
                Right to Portability — You have the right to obtain a copy of
                such your personal data in an electronic or structured format,
                which is commonly used and allows for your further use, in case
                your personal data was processed through electronic means and in
                a structured and commonly used format.
            </li>
        </ol>
        <p>
            If you have any further questions, comments or concerns about how we
            handle your personal information, then you may contact us at <a
                href="mailto:hello.dice.initiative+privacy@gmail.com"
            >
                hello.dice.initiative+privacy@gmail.com</a
            >.
        </p>
    </div>
</Layout>
