---
import Main from "./Main.astro";

interface Props {
  title: string
  subtitle: string
}

const { title, subtitle } = Astro.props;
---
<Main title={title} autoChangeHeader>
  <div class="pt-[calc(1.25rem+77px)] md:pt-[calc(1.25rem+88px)] bg-black text-white relative">
    <div class="max-w-5xl mx-auto px-10 py-20 md:py-44 flex flex-col items-center text-center space-y-6">
      <h1 class="text-5xl md:text-7xl font-black">{title}</h1>
      <p class="w-[90%] mx-auto md:text-2xl font-normal">{subtitle}</p>
    </div>
  </div>

  <slot />
</Main>
